<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cherry.hello.boot.spring5boot.mybatis.PdsMapper">

    <insert id="insertPds" parameterType="Pds">
        insert into pds (userid, title, contents, ipaddr)
        values (#{userid}, #{title}, #{contents}, #{ipaddr})
    </insert>

    <select id="lastPdsPno">
        <!--select AUTO_Increment information_schema.TABLES
        where TABLE_NAME = 'pds';-->
        select last_insert_id() from pds
    </select>
